<div class="container mt-4">

  <div class="text-center mb-5">
    <h1 class="display-4 fw-bold">¡Bienvenido a Tu Tienda Musical!</h1>
    <p class="lead">Explora nuestros productos y encuentra el instrumento perfecto para ti.</p>
    <img src="images/banner.jpg" class="img-fluid rounded shadow" alt="Banner musical" style="max-height: 400px;">
  </div>


  <div class="row text-center mb-5">
    <div class="col-md-4">
      <img src= "images/guitarras.jpg" alt="Guitarras" class="mb-3" style="width: 100px;">
      <h4>Guitarras</h4>
      <p>Gran variedad de guitarras eléctricas y acústicas para todos los niveles.</p>
    </div>
    <div class="col-md-4">
      <img src="images/pianos.jpg" alt="Pianos" class="mb-3" style="width: 100px;">
      <h4>Pianos</h4>
      <p>Pianos de todo tipo, perfectos para cualquier estilo musical.</p>
    </div>
    <div class="col-md-4">
      <img src="images/accesorios.jpg" alt="Accesorios" class="mb-3" style="width: 100px;">
      <h4>Accesorios</h4>
      <p>Todo lo que necesitas: cuerdas, cables, afinadores, amplificadores y más.</p>
    </div>
  </div>


  <div class="text-center">
    <a href="/catalogo" class="btn btn-primary btn-lg">Ver Catálogo</a>
  </div>
</div>

