<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">LOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">Tienda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">Sobre Nosotros</a>
        </li>

        
        <ng-container *ngIf="auth.estaAutenticado(); else noLogueado">
          <li class="nav-item">
            <a class="nav-link" href="#">Bienvenido, {{ auth.obtenerUsuarioActivo()?.nombre }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/home">Cerrar sesión</a>
          </li>
        </ng-container>

        <ng-template #noLogueado>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar Sesión / Registrarse</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

